//===============UTILITIES CLASSES=================//
.u-align-left{
  text-align: left;
}

.u-center-text{
  text-align: center;
}

.u-margin-bottom-big{
  margin-bottom: 8rem;
}

.u-margin-bottom-medium{
  margin-bottom: 4rem;
}

.u-margin-bottom-small{
  margin-bottom: 1.5rem;
}

.u-margin-bottom-minute{
  margin-bottom: 0.75rem;
}
.u-margin-top-small{
  margin-top: 1.5rem;
}

.u-margin-bottom-huge{
  margin-bottom: 10rem;
}
