@import "./abstracts/variables";
@import "./abstracts/mixins";

@import "./base/animations";
@import "./base/utilities";

@import "./components/buttons";
@import "./components/card";
@import "./components/form";

@import "./layouts/grid";

//Phone Screens is default
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
  //-webkit-box-sizing: border-box;
}

body {
  font-size: 12px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  max-width: 1365px;
  margin: 0 auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: underline;
}

button {
  font-weight: bold;
}

ul> li{
  list-style-type: none;
}

.error, .errorMessage {
  color: $color-warning;
  margin-left: 1rem;
  font-size: 0.8rem;
}

@include respond(tab-port){
  body{
    font-size: 14px;
  }
}

@include respond(desktop){
  body{
    font-size: 16px;
  }
}

