.card{
  box-shadow: 0 0 1rem rgba($color-black, .1);
  border: 1px solid $color-grey-dark;
  border-radius: 1.5rem;
  margin: auto;
}

.card--small{
  max-width: 300px;
  min-width: 250px;
  padding: 1.5rem 0.75rem;
  @include respond(tab-port){
    padding: 1.2rem 1.5rem;
  }


}
